/* Add screen styles below */
.navbar-brand{
    font-size: 25px;
  }

.card-body {
    font-size: 20px;
}

h2 {
    margin-top: 40px;
    font-size: 40px;
    color: rgb(36, 36, 36);
}
.card-text {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

h4 {
    font-size: 35px;
}

.card-img-top {
    height: 40%;
}

.img-fluid{
    height: 60%;
}

.card text-bg-dark {
    height: 60%;
}