/* Add screen styles below */
.navbar-brand {
    font-size: 25px;
}

.card-body {
  font-size: 20px;
  margin-bottom: 10px;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 40px;
    color: rgb(54, 54, 54);
}

.card-text {
    margin-top: 10px;
}

h4 {
    font-size: 35px;
}

.card-img-top {
    height: 40%;
}

.img-fluid {
    height: 70%;
}

.card text-bg-dark mb-5 {
    display: flex;
    justify-content: center;
}

form {
    display: flexbox;
    justify-content: right;
}