/* Add screen styles below */
.navbar-brand{
    font-size: 25px;
  }

.card-body {
    font-size: 20px;
}

h2 {
    margin-top: 15px;
    font-size: 30px;
    color: rgb(36, 36, 36);
}

h4 {
    font-size: 35px;
}